In [2]:
import pandas as pd#importing pandas library

In [3]:
df=pd.read_csv("pokemon_data.csv")#importing a file

In [4]:
df.head(5)#checking the data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
df.columns#checking columns values

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
type(df)#checking the data type

pandas.core.frame.DataFrame

In [7]:
#ACESSING THE COLUMNS

In [8]:
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [9]:
df["#"].head()

0    1
1    2
2    3
3    3
4    4
Name: #, dtype: int64

In [10]:
df[["Type 1","Type 2","HP"]]

      Type 1  Type 2  HP
0      Grass  Poison  45
1      Grass  Poison  60
2      Grass  Poison  80
3      Grass  Poison  80
4       Fire     NaN  39
..       ...     ...  ..
795     Rock   Fairy  50
796     Rock   Fairy  50
797  Psychic   Ghost  80
798  Psychic    Dark  80
799     Fire   Water  80

[800 rows x 3 columns]

In [11]:
#changing the index to an exsisting column**this changes the dataframe

In [12]:
ds=df.set_index("Type 1")
ds.head()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Grass,1,Bulbasaur,Poison,45,49,49,65,65,45,1,False
Grass,2,Ivysaur,Poison,60,62,63,80,80,60,1,False
Grass,3,Venusaur,Poison,80,82,83,100,100,80,1,False
Grass,3,VenusaurMega Venusaur,Poison,80,100,123,122,120,80,1,False
Fire,4,Charmander,NaN,39,52,43,60,50,65,1,False

In [13]:
#accessing rows using the index values

In [14]:
ds.loc["Fire"]

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Fire,4,Charmander,NaN,39,52,43,60,50,65,1,False
Fire,5,Charmeleon,NaN,58,64,58,80,65,80,1,False
Fire,6,Charizard,Flying,78,84,78,109,85,100,1,False
Fire,6,CharizardMega Charizard X,Dragon,78,130,111,130,85,100,1,False
Fire,6,CharizardMega Charizard Y,Flying,78,104,78,159,115,100,1,False
Fire,37,Vulpix,NaN,38,41,40,50,65,65,1,False
Fire,38,Ninetales,NaN,73,76,75,81,100,100,1,False
Fire,58,Growlithe,NaN,55,70,45,70,50,60,1,False
Fire,59,Arcanine,NaN,90,110,80,100,80,95,1,False
Fire,77,Ponyta,NaN,50,85,55,65,65,90,1,False
Fire,78,Rapidash,NaN,65,100,70,80,80,105,1,False
Fire,126,Magmar,NaN,65,95,57,100,85,93,1,False
Fire,136,Flareon,NaN,65,130,60,95,110,65,1,False
Fire,146,Moltres,Flying,90,100,90,125,85,90,1,True
Fire,155,Cyndaquil,NaN,39,52,43,60,50,65,2,False
Fire,156,Quilava,NaN,58,64,58,80,65,80,2,False
Fire,157,Typhlosion,NaN,78,84,78,109,85,100,2,False
Fire,218,Slugma,NaN,40,40,40,70,40,20,2,False
Fire,219,Magcargo,Rock,50,50,120,80,80,30,2,False
Fire,240,Magby,NaN,45,75,37,70,55,83,2,False
Fire,244,Entei,NaN,115,115,85,90,75,100,2,True
Fire,250,Ho-oh,Flying,106,130,90,110,154,90,2,True
Fire,255,Torchic,NaN,45,60,40,70,50,45,3,False
Fire,256,Combusken,Fighting,60,85,60,85,60,55,3,False
Fire,257,Blaziken,Fighting,80,120,70,110,70,80,3,False
Fire,257,BlazikenMega Blaziken,Fighting,80,160,80,130,80,100,3,False
Fire,322,Numel,Ground,60,60,40,65,45,35,3,False
Fire,323,Camerupt,Ground,70,100,70,105,75,40,3,False
Fire,323,CameruptMega Camerupt,Ground,70,120,100,145,105,20,3,False
Fire,324,Torkoal,NaN,70,85,140,85,70,20,3,False
Fire,390,Chimchar,NaN,44,58,44,58,44,61,4,False
Fire,391,Monferno,Fighting,64,78,52,78,52,81,4,False
Fire,392,Infernape,Fighting,76,104,71,104,71,108,4,False
Fire,467,Magmortar,NaN,75,95,67,125,95,83,4,False
Fire,485,Heatran,Steel,91,90,106,130,106,77,4,True
Fire,498,Tepig,NaN,65,63,45,45,45,45,5,False
Fire,499,Pignite,Fighting,90,93,55,70,55,55,5,False
Fire,500,Emboar,Fighting,110,123,65,100,65,65,5,False
Fire,513,Pansear,NaN,50,53,48,53,48,64,5,False
Fire,514,Simisear,NaN,75,98,63,98,63,101,5,False
Fire,554,Darumaka,NaN,70,90,45,15,45,50,5,False
Fire,555,DarmanitanStandard Mode,NaN,105,140,55,30,55,95,5,False
Fire,555,DarmanitanZen Mode,Psychic,105,30,105,140,105,55,5,False
Fire,631,Heatmor,NaN,85,97,66,105,66,65,5,False
Fire,653,Fennekin,NaN,40,45,40,62,60,60,6,False
Fire,654,Braixen,NaN,59,59,58,90,70,73,6,False
Fire,655,Delphox,Psychic,75,69,72,114,100,104,6,False
Fire,662,Fletchinder,Flying,62,73,55,56,52,84,6,False
Fire,663,Talonflame,Flying,78,81,71,74,69,126,6,False
Fire,667,Litleo,Normal,62,50,58,73,54,72,6,False
Fire,668,Pyroar,Normal,86,68,72,109,66,106,6,False
Fire,721,Volcanion,Water,80,110,120,130,90,70,6,True

In [15]:
#using the iloc & loc functions

In [16]:
df.loc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [17]:
df.loc[[1,2,3]] #access rows

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [36]:
df.loc[4:10]#acess a range of rows

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
4,4,Charmander,Fire,NaN,False,1,39,52,43,60,50,65,309
5,5,Charmeleon,Fire,NaN,False,1,58,64,58,80,65,80,405
6,6,Charizard,Fire,Flying,False,1,78,84,78,109,85,100,534
7,6,CharizardMega Charizard X,Fire,Dragon,False,1,78,130,111,130,85,100,634
8,6,CharizardMega Charizard Y,Fire,Flying,False,1,78,104,78,159,115,100,634
9,7,Squirtle,Water,NaN,False,1,44,48,65,50,64,43,314
10,8,Wartortle,Water,NaN,False,1,59,63,80,65,80,58,405

In [18]:
df.iloc[1,3]#access a specific location

'Poison'

In [19]:
#Adding/droping columns

In [20]:
df['Total']=df["HP"]+df["Attack"]+df['Defense']+df['Sp. Atk']+df["Sp. Def"]+df["Speed"]#adding column total

In [21]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [22]:
df=df.drop(columns=["Total"])#droping the total columns

In [23]:
df["TotaL"]=df.iloc[:,4:10].sum(axis=1)# alternative way to add a column

In [24]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TotaL
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [25]:
#rearrangging the order of columns

In [26]:
col=list(df.columns.values)

In [27]:
df=df[col[0:4]+[col[-2]]+[col[-3]]+col[4:10]+col[12:13]]

In [28]:
df.head()

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
0,1,Bulbasaur,Grass,Poison,False,1,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,False,1,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,False,1,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,False,1,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,False,1,39,52,43,60,50,65,309

In [29]:
#sorting & Filtering data

In [42]:
df.describe() #describing the data

,#,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,3.32375,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,435.10250
std,208.343798,1.66129,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,119.96304
min,1.000000,1.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,180.00000
25%,184.750000,2.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,330.00000
50%,364.500000,3.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,450.00000
75%,539.250000,5.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,515.00000
max,721.000000,6.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,780.00000

In [30]:
df.sort_values('HP')

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
316,292,Shedinja,Bug,Ghost,False,3,1,90,45,30,30,40,236
55,50,Diglett,Ground,NaN,False,1,10,55,25,35,45,95,265
139,129,Magikarp,Water,NaN,False,1,20,10,55,15,20,80,200
388,355,Duskull,Ghost,NaN,False,3,20,40,90,30,90,25,295
487,439,Mime Jr.,Psychic,Fairy,False,4,20,25,45,70,90,60,310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,False,5,165,75,80,40,45,65,470
351,321,Wailord,Water,NaN,False,3,170,90,45,90,45,60,500
217,202,Wobbuffet,Psychic,NaN,False,2,190,33,58,33,58,33,405
121,113,Chansey,Normal,NaN,False,1,250,5,5,35,105,50,450
261,242,Blissey,Normal,NaN,False,2,255,10,10,75,135,55,540

In [31]:
df.sort_values(["Name","HP"],ascending=[1,0])

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
510,460,Abomasnow,Grass,Ice,False,4,90,92,75,92,85,60,494
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,4,90,132,105,132,105,30,594
68,63,Abra,Psychic,NaN,False,1,25,20,15,105,55,90,310
392,359,Absol,Dark,NaN,False,3,65,130,60,75,60,75,465
393,359,AbsolMega Absol,Dark,NaN,False,3,65,150,60,115,60,115,565
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,False,5,60,105,60,120,60,105,510
631,570,Zorua,Dark,NaN,False,5,40,65,40,80,40,65,330
46,41,Zubat,Poison,Flying,False,1,40,45,35,30,40,55,245
695,634,Zweilous,Dark,Dragon,False,5,72,85,70,65,70,58,420
794,718,Zygarde50% Forme,Dragon,Ground,True,6,108,100,121,81,95,95,600

In [32]:
df.loc[(df["HP"]>=42) & (df["Attack"]==150)] #Filtering(and)

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
19,15,BeedrillMega Beedrill,Bug,Poison,False,1,65,150,40,15,80,145,495
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,True,1,106,150,70,194,120,140,780
229,212,ScizorMega Scizor,Bug,Steel,False,2,70,150,140,65,100,75,600
283,260,SwampertMega Swampert,Water,Ground,False,3,100,150,110,95,110,70,635
393,359,AbsolMega Absol,Dark,NaN,False,3,65,150,60,115,60,115,565
422,382,KyogrePrimal Kyogre,Water,NaN,True,3,100,150,90,180,160,90,770
423,383,Groudon,Ground,NaN,True,3,100,150,140,100,90,90,670
425,384,Rayquaza,Dragon,Flying,True,3,105,150,90,150,90,95,680
428,386,DeoxysNormal Forme,Psychic,NaN,True,3,50,150,50,150,50,150,600
707,644,Zekrom,Dragon,Electric,True,5,100,150,120,120,100,90,680
750,681,AegislashBlade Forme,Steel,Ghost,False,6,60,150,50,150,50,60,520

In [33]:
df.loc[(df["Type 1"]=="Bug")|(df["Type 2"]=="Ghost")]#filtering(or)

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
13,10,Caterpie,Bug,NaN,False,1,45,30,35,20,20,45,195
14,11,Metapod,Bug,NaN,False,1,50,20,55,25,25,30,205
15,12,Butterfree,Bug,Flying,False,1,60,45,50,90,80,70,395
16,13,Weedle,Bug,Poison,False,1,40,35,30,20,20,50,195
17,14,Kakuna,Bug,Poison,False,1,45,25,50,25,25,35,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,679,Honedge,Steel,Ghost,False,6,45,80,100,35,37,28,325
749,680,Doublade,Steel,Ghost,False,6,59,110,150,45,49,35,448
750,681,AegislashBlade Forme,Steel,Ghost,False,6,60,150,50,150,50,60,520
751,681,AegislashShield Forme,Steel,Ghost,False,6,60,50,150,50,150,60,520
797,720,HoopaHoopa Confined,Psychic,Ghost,True,6,80,110,60,150,130,70,600

In [35]:
df.loc[df["Name"].str.contains("pie")]#using the str.contains () to filter

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
13,10,Caterpie,Bug,NaN,False,1,45,30,35,20,20,45,195

In [41]:
df.loc[~df["Name"].str.contains("pie")]#using the str.contains () & the the inverse symbol to filter

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
0,1,Bulbasaur,Grass,Poison,False,1,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,False,1,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,False,1,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,False,1,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,False,1,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,6,50,100,150,100,150,50,600
796,719,DiancieMega Diancie,Rock,Fairy,True,6,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,True,6,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,True,6,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,True,6,80,110,120,130,90,70,600

In [43]:
#conditional changes

In [47]:
df.loc[df["Type 1"]=="Grass","Type 1"]="Weed"
df

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
0,1,Bulbasaur,Weed,Poison,False,1,45,49,49,65,65,45,318
1,2,Ivysaur,Weed,Poison,False,1,60,62,63,80,80,60,405
2,3,Venusaur,Weed,Poison,False,1,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Weed,Poison,False,1,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,False,1,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,6,50,100,150,100,150,50,600
796,719,DiancieMega Diancie,Rock,Fairy,True,6,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,True,6,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,True,6,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,True,6,80,110,120,130,90,70,600

In [49]:
df.loc[df["Type 1"]=="Weed",["Type 1","Generation"]]=["Grass","0"]
df

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,TotaL
0,1,Bulbasaur,Grass,Poison,False,0,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,False,0,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,False,0,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,False,0,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,False,1,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,6,50,100,150,100,150,50,600
796,719,DiancieMega Diancie,Rock,Fairy,True,6,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,True,6,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,True,6,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,True,6,80,110,120,130,90,70,600

In [ ]:
#groupby

In [51]:
df=pd.read_csv("pokemon_data.csv")

In [52]:
df.groupby("Type 1").mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [55]:
df.groupby("Type 1").mean().sort_values("Defense",ascending=1)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148